* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

.login {
  margin-top: 70px;
  margin-bottom: 100px;
}

.img-login {
  width: 710px;
  height: 755.48px;
}

.logo {
  width: 335.54px;
  height: 123.02px;
  margin-top: 50px;
}

.description-oct {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #515151;
}

h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.btn {
  width: 422px;
  height: 56px;
  background: #0C8BFD;
  border-radius: 6px;
  color: #ffffff;
}

.btn-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.btn:hover {
  background: #ffffff;
  color: #0C8BFD;
  border: 2px solid #0c8bfd;
  transition: 600ms;
}

.btn.btn-text:active {
  background: #ffffff;
  color: #0C8BFD;
  border-color: #0c8bfd;
}

.form-control {
  width: 422px;
  height: 41px;
  background: #DCDCDC;
  border-radius: 6px;
}

.form-control:hover {
  border: 2px solid #0C8BFD;
}

.form-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #717171;
}

.recovery-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #393939;
}

hr {
  width: 1353px;
  height: 0px;
  border: 1px solid #DCDCDC;
}

.logo-footer {
  width: 147.71px;
  height: 53.95px;
}

.text-footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #515151;
}

.li-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #393939;
}

li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #515151;
  list-style: none;
}

.ingreso {
  text-decoration: none;
  color: inherit;
}

#body-dash, #html-dash {
  font-family: "Inter", sans-serif;
  background: #FFFFFF;
  height: 100%;
}

.active {
  width: 192px;
  height: 56px;
  background: #0C8BFD;
  border-radius: 6px;
}

.nav-link.dashboard-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.add-project {
  width: 192px;
  height: 56px;
  background: #6DB9FE;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn-projects-list {
  width: 192px;
  background: #F9F9F9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.menu-projects {
  width: 192px;
  background: #F9F9F9;
  border-radius: 6px;
}
.menu-projects li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.bg-dash {
  background-color: #F9F9F9;
  height: 100vh;
}

.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.card-projects {
  border: none;
}

.search input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.4026px;
  line-height: 15px;
  color: #AAAAAA;
  width: 525px;
  height: 54px;
  background: #F1F1F1;
  border-radius: 33.0735px;
}

.btn-alert {
  width: 16.77px;
  height: 20.5px;
  background-color: transparent;
}

.btn-alert:hover {
  border: transparent;
}

.btn-usuario {
  width: 199px;
  height: 45.48px;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4026px;
  line-height: 15px;
  color: #515151;
}

.btn-usuario:hover {
  border: transparent;
  background: transparent;
  color: #515151;
}

.btn-modal-add {
  width: 265px;
  height: 64px;
  background: #0C8BFD;
  border-radius: 6px;
}

.btn-modal-add:hover > .text-start > p {
  color: #0C8BFD;
}

.add {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.add-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.75);
}

.btn-modal-curso {
  width: 265px;
  height: 64px;
  background: #4AD994;
  border-radius: 6px;
}

.btn-modal-curso:hover > .text-start > p {
  color: #4AD994;
}

.btn-modal-curso:hover {
  border-color: #4AD994;
}

.btn-modal-end {
  width: 265px;
  height: 64px;
  background: #B5B5B5;
  border-radius: 6px;
}

.btn-modal-end:hover > .text-start > p {
  color: #B5B5B5;
}

.btn-modal-end:hover {
  border-color: #B5B5B5;
}

.btn-modal-block {
  width: 265px;
  height: 64px;
  background: #FF7B5F;
  border-radius: 6px;
}

.btn-modal-block:hover {
  border-color: #FF7B5F;
}

.btn-modal-block:hover > .text-start > p {
  color: #FF7B5F;
}

.margin-label {
  margin-top: 8.4%;
}

.modal-content .modal-body .modal-header {
  width: 579px;
  height: 674px;
  background: #E8E8E8;
  border-radius: 16px;
}

.modal-dialog.modal-pers {
  width: 579px;
  height: 674px;
  max-width: none;
}

.nombre-tarea {
  border: none;
  outline: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  border-radius: 6px;
  padding-left: 10px;
}

.nombre-tarea::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.nombre-tarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.fecha {
  width: 172px;
  height: 26px;
  background: #F9F9F9;
  border-radius: 3px;
}

.fecha::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #717171;
}

.fecha::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #717171;
}

.label-date {
  width: 172px;
  height: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #515151;
}

.btn-modal-side {
  width: 123px;
  height: 26px;
  background: #B5B5B5;
  border-radius: 3px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.btn.btn-modal-side:hover {
  color: inherit;
  border-color: inherit;
}

.p-status {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #515151;
}

.d-proyecto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #515151;
}

.descripcion {
  width: 378px;
  background: #F9F9F9;
  border-radius: 6px;
  border: none;
  padding-top: 10px;
  padding-left: 10px;
}

.descripcion::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 7px;
  color: #717171;
}

.descripcion::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 7px;
  color: #717171;
}

.form-check-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.en-curso {
  width: 123px;
  height: 26px;
  background: #4AD994;
  border-radius: 3px;
}

.terminadas {
  width: 123px;
  height: 26px;
  background: #B5B5B5;
  border-radius: 3px;
}

.bloqueadas {
  width: 123px;
  height: 26px;
  background: #FF7B5F;
  border-radius: 3px;
}

.side-menu {
  margin-top: 34px;
}

.btn.cancelar {
  width: 87.37px;
  height: 28.39px;
  background: #CACACA;
  border-radius: 3.27632px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10.9211px;
  line-height: 13px;
  color: #646464;
}

.btn.guardar {
  width: 65.53px;
  height: 28.39px;
  border-radius: 3.27632px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10.9211px;
  line-height: 13px;
  color: #FFFFFF;
}

.btn.guardar:hover {
  color: #0c8bfd;
}

.modal-header {
  border-bottom: none;
  margin-left: 10px;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  background: #E8E8E8;
}

.form-check-label {
  margin-top: 5%;
}

.porAsignar {
  width: 123px;
  height: 26px;
  background: #0c8bfd;
  border-radius: 3px;
}

.accordion-header {
  width: 265px;
  height: 40px;
  border-radius: 6px;
}

.accordion-item {
  width: 265px;
}

.accordion-button {
  background: #0c8bfd;
  color: #FFFFFF;
}

.accordion-button.enCursoColor {
  background: #4AD994;
}

.accordion-button.terminadasColor {
  background: #B5B5B5;
}

.accordion-button.bloqueadasColor {
  background: #FF7B5F;
}

.n-tarea-card {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #515151;
}

.creation-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #717171;
}

.p-deadline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11.1361px;
  line-height: 13px;
  color: #B5B5B5;
}

.p-date-end {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11.1361px;
  line-height: 13px;
  color: #515151;
}

.p-date-start {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #717171;
}

.btn-edit {
  background: transparent;
  border: none;
}

.accordion-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.no-tareas {
  margin-top: 20%;
  width: 15%;
}

.title-alert {
  font-size: 18px;
  font-family: "Inter";
}

.alert {
  background: #F9F9F9;
  border-radius: 6px;
}

.btn-alert {
  border-radius: 6px;
  width: 65.53px;
  height: 30px;
  display: flex;
  font-family: "Inter";
  font-size: 0.9211px;
  line-height: 13px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */