* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

.login {
  margin-top: 70px;
  margin-bottom: 100px;
}

.img-login {
  width: 710px;
  height: 755.48px;
}

.logo {
  width: 335.54px;
  height: 123.02px;
  margin-top: 50px;
}

.description-oct {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #515151;
}

h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.btn {
  width: 422px;
  height: 56px;
  background: #0C8BFD;
  border-radius: 6px;
  color: #ffffff;
}

.btn-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.btn:hover {
  background: #ffffff;
  color: #0C8BFD;
  border: 2px solid #0c8bfd;
  transition: 600ms;
}

.btn.btn-text:active {
  background: #ffffff;
  color: #0C8BFD;
  border-color: #0c8bfd;
}

.form-control {
  width: 422px;
  height: 41px;
  background: #DCDCDC;
  border-radius: 6px;
}

.form-control:hover {
  border: 2px solid #0C8BFD;
}

.form-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #717171;
}

.recovery-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #393939;
}

hr {
  width: 1353px;
  height: 0px;
  border: 1px solid #DCDCDC;
}

.logo-footer {
  width: 147.71px;
  height: 53.95px;
}

.text-footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #515151;
}

.li-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #393939;
}

li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #515151;
  list-style: none;
}

.ingreso {
  text-decoration: none;
  color: inherit;
}

#body-dash, #html-dash {
  font-family: "Inter", sans-serif;
  background: #FFFFFF;
  height: 100%;
}

.active {
  width: 192px;
  height: 56px;
  background: #0C8BFD;
  border-radius: 6px;
}

.nav-link.dashboard-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.add-project {
  width: 192px;
  height: 56px;
  background: #6DB9FE;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn-projects-list {
  width: 192px;
  background: #F9F9F9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.menu-projects {
  width: 192px;
  background: #F9F9F9;
  border-radius: 6px;
}
.menu-projects li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.bg-dash {
  background-color: #F9F9F9;
  height: 100vh;
}

.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #717171;
}

.card-projects {
  border: none;
}

.search input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.4026px;
  line-height: 15px;
  color: #AAAAAA;
  width: 525px;
  height: 54px;
  background: #F1F1F1;
  border-radius: 33.0735px;
}

.btn-alert {
  width: 16.77px;
  height: 20.5px;
  background-color: transparent;
}

.btn-alert:hover {
  border: transparent;
}

.btn-usuario {
  width: 199px;
  height: 45.48px;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4026px;
  line-height: 15px;
  color: #515151;
}

.btn-usuario:hover {
  border: transparent;
  background: transparent;
  color: #515151;
}

.btn-modal-add {
  width: 265px;
  height: 64px;
  background: #0C8BFD;
  border-radius: 6px;
}

.btn-modal-add:hover > .text-start > p {
  color: #0C8BFD;
}

.add {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.add-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.75);
}

.btn-modal-curso {
  width: 265px;
  height: 64px;
  background: #4AD994;
  border-radius: 6px;
}

.btn-modal-curso:hover > .text-start > p {
  color: #4AD994;
}

.btn-modal-curso:hover {
  border-color: #4AD994;
}

.btn-modal-end {
  width: 265px;
  height: 64px;
  background: #B5B5B5;
  border-radius: 6px;
}

.btn-modal-end:hover > .text-start > p {
  color: #B5B5B5;
}

.btn-modal-end:hover {
  border-color: #B5B5B5;
}

.btn-modal-block {
  width: 265px;
  height: 64px;
  background: #FF7B5F;
  border-radius: 6px;
}

.btn-modal-block:hover {
  border-color: #FF7B5F;
}

.btn-modal-block:hover > .text-start > p {
  color: #FF7B5F;
}

.margin-label {
  margin-top: 8.4%;
}/*# sourceMappingURL=styles.css.map */